.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
  padding: 0 10px;
}

.label {
  font-weight: 500;
  color: #555;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input:focus {
  border-color: #2196f3;
}
